<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.dcloud.H58E83894">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".ToeflApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.dcloud.H58E83894.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"/>
        </provider>

        <activity
            android:name=".ui.guide.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AdvNoTitleFullTheme"/>
        <activity
            android:name=".AdvertisingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AdvNoTitleFullTheme"/>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.user.UserProxyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.user.modify.ModifyNickActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.toeflcircle.ImagePagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.toeflcircle.RemarkDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.toeflcircle.CommunityDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.toeflcircle.PostRemarkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.center.setting.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.center.setting.ClipImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.center.setting.FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.center.setting.FontSizeSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.grammar.GrammarGuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.grammar.GrammarTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.core.CoreTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.core.CoreDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.listen.ListenActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.listen.ListenTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.common.DealActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.prelesson.PreProGramLessonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AlphaDialogAct"/>
        <activity
            android:name=".ui.prelesson.ToeflDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.prelesson.TeacherDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.prelesson.TrialCourseTypeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.practice.ListenPracticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.lp.BottomListenPracticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.rp.BottomReadPracticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.sp.BottomSpeakPracticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.wp.BottomWritePracticeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.wp.WriteListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.wp.WriteQuestionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.wp.WriteAnswerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.wp.WriteResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.wp.WriteTpoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.center.record.write.WriteRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.wp.WriteTpoQuestionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.sp.SpeakGlodListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.sp.SpeakQuestionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.sp.SpeakTpoListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.rp.ReadTpoListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.rp.ReadOgListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.rp.ReadQuestionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.rp.ReadAnswerAnalyzeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.rp.ReadResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.rp.ReadResultDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.center.record.read.ReadRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.lp.ListenSecListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.lp.ListenSecStartMakeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.lp.ListenSecQuestionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.lp.ListenSecTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.lp.ListenMakeResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.lp.FineListenQuestionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.make.bottom.lp.ListenFineWriteActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.center.message.MsgActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.center.glossary.GlossaryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.center.glossary.GlossaryDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.center.record.listen.ListenRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.center.record.speak.SpeakRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.center.lesson.MyLessonActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>